@model NETCORE_CRUD_991.Models.Entities.ValorLibra

@{
    ViewData["Title"] = "Detalles Valor Libra";
}

<h1>Detalles</h1>

<div>
    <h4>Valor Libra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CrearEditar" asp-route-id="@Model.IdValorLibra">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
